{% extends "inc/base.html" %}
{% load static %}
{% block content %}
    <h2 class="mt-5">Registration</h2>
    <form>
        <div class="mb-3">
            <div class="input">
                <label for="exampleInputEmail1" class="question-title">Nickname</label>
                <input type="email" class="form-control" id="Question title" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="mb-3">
            <div class="input">
                <label for="exampleInputEmail1" class="question-title">Email</label>
                <input type="email" class="form-control" id="Question title" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="mb-3">
            <div class="input">
                <label for="exampleInputEmail1" class="question-title">Password</label>
                <input type="email" class="form-control" id="Question title" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="mb-3">
            <div class="input">
                <label for="exampleInputEmail1" class="question-title">Repeat password</label>
                <input type="email" class="form-control" id="Question title" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="error">
            Password mismatch
        </div>
        <button type="submit" class="btn btn-primary">Create account</button>
    </form>
{% endblock %}

