{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<form action="/setting/" method="post" enctype="multipart/form-data" class="form-signin text-center m-auto" style="width: 30em">
    <br><br>
{#    <img  style="border-radius: 15px; width: 300px" src="{{ request.user.profile_related.avatar.url }}">#}
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">Accept changes</button>
    </form>
{% endblock content %}
